<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="/fragments/template :: head"></head>

</head>
<body>
<h1>Clientes</h1>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead class="bg-primary text-light text-center">
        <tr>
            <th scope="col">C.C.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Ciudad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente:${clientes}">
            <th scope="row" th:text="${cliente.cedula}">1</th>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.direccion}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.ciudadCodigo.nombre}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
